{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Document</title>
</head>

<body>
    <a href="{% url 'pag2' %}">clique aqui</a> 
    <p>Olá Mundo!!!</p>  
    <p>Olá Mundo 2!!!</p>
    <p>Olá Mundo 3!!!</p>
    <p>Olá Mundo 4!!!</p>
    
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>